@import url("https://fonts.googleapis.com/css?family=Lora|Muli");
body {
  background-image: url("images/mobile-middle.png");
  background-repeat: no-repeat;
  background-size: 100vw 83%;
  background-attachment: fixed;
  background-position: 0% 49px;
  margin: 0;
  padding: 0px 8%;
  padding-top: 50px;
  margin-bottom: 70px;
  height: 100%;
  width: 84%;
}

h1, h2 {
  font-family: "Lora", serif;
}

p {
  font-family: "Muli", sans-serif;
}

#zen-intro h1 {
  background-image: url("images/mobile-top.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100vw 50px;
  position: fixed;
  width: 100vw;
  height: 50px;
  margin: 0;
  top: 0;
  left: 0;
}

#zen-preamble {
  margin-top: 30px;
}
#zen-preamble::before {
  content: url("images/mountain.png");
  float: right;
  width: 150px;
}

#zen-explanation {
  margin-top: 30px;
}
#zen-explanation::before {
  content: url("images/lake.png");
  float: left;
}

#zen-participation {
  margin-top: 30px;
}
#zen-participation::before {
  content: url("images/cave.png");
  float: right;
}

#zen-benefits {
  margin-top: 30px;
}
#zen-benefits::before {
  content: url("images/island1.png");
  float: left;
}

#zen-requirements {
  margin-top: 30px;
}
#zen-requirements::before {
  content: url("images/island2.png");
  float: right;
}

.extra1 {
  background-image: url("images/mobile-bottom.png");
  background-size: 100vw 50px;
  height: 50px;
  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
}

@media only screen and (min-width: 600px) {
  body {
    background-image: url("images/map-background.png");
    background-repeat: no-repeat;
    background-size: 100vw 100%;
    background-attachment: fixed;
    background-position: 0% 0%;
    padding: 0 5%;
    padding-top: 60px;
  }

  #zen-intro h1 {
    background-image: none;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100vw 100px;
    position: fixed;
    width: 100vw;
    height: 100px;
    margin: 0;
    top: 0;
    left: 0;
  }

  #zen-preamble {
    background-image: url("images/mountain.png");
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    position: absolute;
    right: 5%;
    top: 150px;
  }
  #zen-preamble::before {
    content: "";
  }
  #zen-preamble * {
    display: none;
  }

  #zen-explanation {
    background-image: url("images/lake.png");
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    position: absolute;
    left: 10%;
    top: 300px;
  }
  #zen-explanation::before {
    content: "";
  }
  #zen-explanation * {
    display: none;
  }

  #zen-participation {
    background-image: url("images/cave.png");
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    position: absolute;
    left: 45%;
    top: 450px;
  }
  #zen-participation::before {
    content: "";
  }
  #zen-participation * {
    display: none;
  }

  #zen-benefits {
    background-image: url("images/island1.png");
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    position: absolute;
    left: 10%;
    top: 65%;
  }
  #zen-benefits::before {
    content: "";
  }
  #zen-benefits * {
    display: none;
  }

  #zen-requirements {
    background-image: url("images/island2.png");
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    position: absolute;
    right: 0px;
    top: 70%;
  }
  #zen-requirements::before {
    content: "";
  }
  #zen-requirements * {
    display: none;
  }

  #design-selection {
    position: absolute;
    bottom: -10px;
    text-decoration: underline;
  }
  #design-selection nav {
    display: none;
  }

  #design-archives {
    position: absolute;
    bottom: -10px;
    left: 200px;
    text-decoration: underline;
  }
  #design-archives nav {
    display: none;
  }

  #zen-resources {
    position: absolute;
    bottom: -10px;
    left: 300px;
    text-decoration: underline;
  }
  #zen-resources ul {
    display: none;
  }

  .extra1 {
    display: none;
  }
}
@media only screen and (min-width: 1000px) {
  #zen-preamble {
    right: 20%;
  }

  #zen-explanation {
    left: 10%;
  }

  #zen-participation {
    top: 45%;
  }

  #zen-benefits {
    left: 15%;
  }

  #zen-requirements {
    right: 10%;
  }
}
@media only screen and (min-width: 1500px) {
  #zen-preamble {
    background-size: 200px;
  }

  #zen-explanation {
    background-size: 200px;
  }

  #zen-participation {
    background-size: 200px;
  }

  #zen-benefits {
    background-size: 200px;
  }

  #zen-requirements {
    background-size: 200px;
    top: 60%;
  }
}

/*# sourceMappingURL=style.css.map */
