@import url("https://fonts.googleapis.com/css?family=Lora|Muli");
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lora", serif;
}

p {
  font-family: "Muli", sans-serif;
  line-height: 25px;
}

body {
  background-image: url("images/mobile-middle.png");
  background-repeat: no-repeat;
  background-size: 100vw 89%;
  background-attachment: fixed;
  background-position: 0% 49px;
  margin: 0;
  padding: 0px 8%;
  padding-top: 50px;
  margin-bottom: 70px;
  height: 100%;
  width: 84%;
}

#zen-intro h1 {
  background-image: url("images/mobile-top.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100vw 50px;
  position: fixed;
  z-index: 200;
  width: 100vw;
  height: 50px;
  margin: 0;
  top: 0;
  left: 0;
  text-align: center;
  padding-top: 10px;
  font-size: 2em;
  color: #707070;
}

/******************************************     MOUNTAINS     ******************************************/
#zen-preamble {
  margin-top: 30px;
}
#zen-preamble::before {
  content: url("images/mountain-svg.svg");
  float: right;
  transform: scale(0.7);
}

/******************************************       LAKE       ******************************************/
#zen-explanation {
  margin-top: 30px;
}
#zen-explanation::before {
  content: url("images/lake-svg.svg");
  float: left;
  transform: scale(0.7);
}

/******************************************       CAVE       ******************************************/
#zen-participation {
  margin-top: 30px;
}
#zen-participation::before {
  content: url("images/cave-svg.svg");
  float: right;
  transform: scale(0.7);
}

/******************************************     ISLAND 1     ******************************************/
#zen-benefits {
  margin-top: 30px;
}
#zen-benefits::before {
  content: url("images/island1-svg.svg");
  float: left;
  transform: scale(0.7);
}

/******************************************     ISLAND 2     ******************************************/
#zen-requirements {
  margin-top: 30px;
}
#zen-requirements::before {
  content: url("images/island2-svg.svg");
  float: right;
  transform: scale(0.7);
}

.extra1 {
  background-image: url("images/mobile-bottom.png");
  background-size: 100vw 50px;
  height: 50px;
  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 200;
}

@media only screen and (min-width: 600px) {
  body {
    background-image: url("images/map-background.png");
    background-repeat: no-repeat;
    background-size: 100vw 100%;
    background-attachment: fixed;
    background-position: 0% 0%;
    padding: 0 5%;
    padding-top: 60px;
  }

  #zen-intro {
    margin-top: 40px;
  }
  #zen-intro h1 {
    background-image: none;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100vw 100px;
    position: fixed;
    width: 100vw;
    height: 100px;
    margin: 0;
    top: 5px;
    left: 10px;
    color: #fdd094;
    font-size: 2em;
    text-align: left;
    padding-top: 0px;
  }

  /******************************************     MOUNTAINS     ******************************************/
  #zen-preamble::before {
    float: none;
    position: absolute;
    left: 70%;
    top: 200px;
    transform: scale(1);
    transition: transform 1s;
  }
  #zen-preamble h3,
#zen-preamble p {
    overflow: hidden;
    width: 500px;
    position: absolute;
    left: 40%;
    background-color: rgba(192, 192, 192, 0.5);
    z-index: 100;
    height: 0;
    opacity: 0;
    transition: opacity 2s;
  }
  #zen-preamble h3 {
    top: 200px;
  }
  #zen-preamble p:nth-child(2) {
    top: 241px;
  }
  #zen-preamble p:nth-child(3) {
    top: 330px;
  }
  #zen-preamble p:nth-child(4) {
    top: 419px;
  }
  #zen-preamble:hover::before {
    transform: scale(1.25);
  }
  #zen-preamble:hover h3,
#zen-preamble:hover p {
    height: initial;
    padding: 7px 15px;
    opacity: 1;
  }

  /******************************************       LAKE       ******************************************/
  #zen-explanation::before {
    float: none;
    position: absolute;
    left: 10%;
    top: 300px;
    transform: scale(1);
    transition: transform 1s;
  }
  #zen-explanation h3,
#zen-explanation p {
    overflow: hidden;
    width: 500px;
    position: absolute;
    left: 23.5%;
    margin-top: 50px;
    background-color: rgba(192, 192, 192, 0.5);
    z-index: 100;
    height: 0;
    opacity: 0;
    transition: opacity 2s;
  }
  #zen-explanation h3 {
    top: 200px;
  }
  #zen-explanation p:nth-child(2) {
    top: 236px;
  }
  #zen-explanation p:nth-child(3) {
    top: 340px;
  }
  #zen-explanation:hover::before {
    transform: scale(1.25);
  }
  #zen-explanation:hover h3,
#zen-explanation:hover p {
    height: initial;
    padding: 7px 15px;
    opacity: 1;
  }

  /******************************************       CAVE       ******************************************/
  #zen-participation::before {
    float: none;
    position: absolute;
    left: 45%;
    top: 450px;
    transform: scale(1);
    transition: transform 1s;
  }
  #zen-participation h3,
#zen-participation p {
    overflow: hidden;
    width: 500px;
    position: absolute;
    margin-top: 158px;
    left: 58%;
    background-color: rgba(192, 192, 192, 0.5);
    z-index: 100;
    height: 0;
    opacity: 0;
    transition: opacity 2s;
  }
  #zen-participation h3 {
    top: 200px;
  }
  #zen-participation p:nth-child(2) {
    top: 236px;
  }
  #zen-participation p:nth-child(3) {
    top: 340px;
  }
  #zen-participation p:nth-child(4) {
    top: 408px;
  }
  #zen-participation:hover::before {
    transform: scale(1.25);
  }
  #zen-participation:hover h3,
#zen-participation:hover p {
    height: initial;
    padding: 7px 15px;
    opacity: 1;
  }

  /******************************************     ISLAND 1     ******************************************/
  #zen-benefits::before {
    float: none;
    position: absolute;
    left: 20%;
    top: 65%;
    transform: scale(1);
    transition: transform 1s;
  }
  #zen-benefits h3,
#zen-benefits p {
    overflow: hidden;
    width: 500px;
    position: absolute;
    left: 34%;
    margin-top: 450px;
    background-color: rgba(192, 192, 192, 0.5);
    z-index: 100;
    height: 0;
    opacity: 0;
    transition: opacity 2s;
  }
  #zen-benefits h3 {
    top: 200px;
  }
  #zen-benefits p:nth-child(2) {
    top: 236px;
  }
  #zen-benefits:hover::before {
    transform: scale(1.25);
  }
  #zen-benefits:hover h3,
#zen-benefits:hover p {
    height: initial;
    padding: 7px 15px;
    opacity: 1;
  }

  /******************************************     ISLAND 2     ******************************************/
  #zen-requirements::before {
    float: none;
    position: absolute;
    right: 200px;
    top: 70%;
    transform: scale(1);
    transition: transform 1s;
  }
  #zen-requirements h3,
#zen-requirements p {
    overflow: hidden;
    width: 500px;
    position: absolute;
    left: 51%;
    margin-top: 93px;
    background-color: rgba(192, 192, 192, 0.5);
    z-index: 100;
    height: 0;
    opacity: 0;
    transition: opacity 2s;
  }
  #zen-requirements h3 {
    top: 200px;
  }
  #zen-requirements p:nth-child(2) {
    top: 236px;
  }
  #zen-requirements p:nth-child(3) {
    top: 340px;
  }
  #zen-requirements p:nth-child(4) {
    top: 498px;
  }
  #zen-requirements p:nth-child(5) {
    top: 584px;
  }
  #zen-requirements p:nth-child(6) {
    top: 688px;
  }
  #zen-requirements:hover::before {
    transform: scale(1.25);
  }
  #zen-requirements:hover h3,
#zen-requirements:hover p {
    height: initial;
    padding: 7px 15px;
    opacity: 1;
  }

  #design-selection {
    position: absolute;
    bottom: 7px;
    text-decoration: underline;
    text-decoration-color: #fdd094;
  }
  #design-selection h3 {
    margin: 0;
    color: #fdd094;
  }
  #design-selection nav {
    overflow: hidden;
    position: absolute;
    bottom: 40px;
    width: 300px;
    background-color: rgba(192, 192, 192, 0.5);
    z-index: 100;
    height: 0;
    opacity: 0;
    transition: opacity 2s;
  }
  #design-selection:hover nav {
    opacity: 1;
    height: initial;
  }

  #design-archives {
    position: absolute;
    bottom: 7px;
    left: 20%;
    text-decoration: underline;
    text-decoration-color: #fdd094;
  }
  #design-archives h3 {
    margin: 0;
    color: #fdd094;
  }
  #design-archives nav {
    overflow: hidden;
    position: absolute;
    bottom: 40px;
    width: 300px;
    background-color: rgba(192, 192, 192, 0.5);
    z-index: 100;
    height: 0;
    opacity: 0;
    transition: opacity 2s;
  }
  #design-archives:hover nav {
    opacity: 1;
    height: initial;
  }

  #zen-resources {
    position: absolute;
    bottom: 7px;
    left: 35%;
    text-decoration: underline;
    text-decoration-color: #fdd094;
  }
  #zen-resources h3 {
    margin: 0;
    color: #fdd094;
  }
  #zen-resources ul {
    overflow: hidden;
    position: absolute;
    bottom: 40px;
    width: 300px;
    background-color: rgba(192, 192, 192, 0.5);
    z-index: 100;
    height: 0;
    opacity: 0;
    transition: opacity 2s;
  }
  #zen-resources:hover ul {
    opacity: 1;
    height: initial;
  }

  .extra1 {
    display: none;
  }
}
@media only screen and (min-width: 1000px) {
  /******************************************     MOUNTAINS     ******************************************/
  #zen-preamble {
    right: 20%;
  }

  /******************************************       LAKE       ******************************************/
  #zen-explanation {
    left: 10%;
  }

  /******************************************       CAVE       ******************************************/
  #zen-participation {
    top: 45%;
  }

  /******************************************     ISLAND 1     ******************************************/
  #zen-benefits {
    left: 15%;
  }

  /******************************************     ISLAND 2     ******************************************/
  #zen-requirements {
    right: 10%;
  }
}
@media only screen and (min-width: 1500px) {
  /******************************************     MOUNTAINS     ******************************************/
  #zen-preamble {
    background-size: 200px;
  }

  /******************************************       LAKE       ******************************************/
  #zen-explanation {
    background-size: 200px;
  }

  /******************************************       CAVE       ******************************************/
  #zen-participation {
    background-size: 200px;
  }

  /******************************************     ISLAND 1     ******************************************/
  #zen-benefits {
    background-size: 200px;
  }

  /******************************************     ISLAND 2     ******************************************/
  #zen-requirements {
    background-size: 200px;
    top: 60%;
  }
}

/*# sourceMappingURL=style.css.map */
