body {
  background-image: url("images/mobile-middle.png");
  background-repeat: no-repeat;
  background-size: 100vw 100%;
  background-attachment: fixed;
  background-position: 100% 99px;
  margin: 0;
  padding: 0px 30px;
  padding-top: 100px;
}

#zen-intro h1 {
  background-image: url("images/mobile-top.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100vw 100px;
  position: fixed;
  width: 100vw;
  height: 100px;
  margin: 0;
  top: 0;
  left: 0;
}

#zen-preamble {
  margin-top: 30px;
}
#zen-preamble::before {
  content: url("images/mountain.png");
  float: right;
}

#zen-explanation {
  margin-top: 30px;
}
#zen-explanation::before {
  content: url("images/lake.png");
  float: left;
}

#zen-participation {
  margin-top: 30px;
}
#zen-participation::before {
  content: url("images/cave.png");
  float: right;
}

#zen-benefits {
  margin-top: 30px;
}
#zen-benefits::before {
  content: url("images/island1.png");
  float: left;
}

#zen-requirements {
  margin-top: 30px;
}
#zen-requirements::before {
  content: url("images/island2.png");
  float: right;
}

@media only screen and (min-width: 600px) {
  body {
    background-image: url("images/map-background.png");
    background-repeat: no-repeat;
    background-size: 100vw 100%;
    background-attachment: fixed;
    background-position: 0% 0%;
    padding-top: 60px;
  }

  #zen-intro h1 {
    background-image: none;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100vw 100px;
    position: fixed;
    width: 100vw;
    height: 100px;
    margin: 0;
    top: 0;
    left: 0;
  }

  #zen-preamble {
    background-image: url("images/mountain.png");
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    position: absolute;
    right: 50px;
    top: 150px;
  }
  #zen-preamble::before {
    content: "";
  }
  #zen-preamble * {
    display: none;
  }

  #zen-explanation {
    background-image: url("images/lake.png");
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    position: absolute;
    left: 50px;
    top: 300px;
  }
  #zen-explanation::before {
    content: "";
  }
  #zen-explanation * {
    display: none;
  }

  #zen-participation {
    background-image: url("images/cave.png");
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    position: absolute;
    left: 45%;
    top: 450px;
  }
  #zen-participation::before {
    content: "";
  }
  #zen-participation * {
    display: none;
  }

  #zen-benefits {
    background-image: url("images/island1.png");
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    position: absolute;
    left: 100px;
    top: 650px;
  }
  #zen-benefits::before {
    content: "";
  }
  #zen-benefits * {
    display: none;
  }

  #zen-requirements {
    background-image: url("images/island2.png");
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    position: absolute;
    right: 0px;
    top: 600px;
  }
  #zen-requirements::before {
    content: "";
  }
  #zen-requirements * {
    display: none;
  }

  #design-selection {
    position: absolute;
    bottom: -10px;
    text-decoration: underline;
  }
  #design-selection nav {
    display: none;
  }

  #design-archives {
    position: absolute;
    bottom: -10px;
    left: 180px;
    text-decoration: underline;
  }
  #design-archives nav {
    display: none;
  }

  #zen-resources {
    position: absolute;
    bottom: -10px;
    left: 285px;
    text-decoration: underline;
  }
  #zen-resources ul {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
