body {
    background-image: url("images/mobile-middle.png");
    background-repeat: no-repeat;
    background-size: 100vw 83%;
    background-attachment: fixed;
    background-position: 0% 49px;
    margin: 0;
    padding: 0px 8%;
    padding-top: 50px;
    margin-bottom: 70px;
    height: 100%;
    width: 84%;
}

#zen-intro {
    h1 {
        background-image: url("images/mobile-top.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100vw 50px;
        position: fixed;
        // z-index: 100;
        width: 100vw;
        height: 50px;
        margin: 0;
        top: 0;
        left: 0;
    }
}

/******************************************     MOUNTAINS     ******************************************/
#zen-preamble {
    &::before {
        content: url("images/mountain-svg.svg");
        float: right;
        width: 150px;
    }

    margin-top: 30px;
}

/******************************************       LAKE       ******************************************/
#zen-explanation {
    &::before {
        content: url("images/lake-svg.svg");
        float: left;
    }

    margin-top: 30px;
}

/******************************************       CAVE       ******************************************/
#zen-participation {
    &::before {
        content: url("images/cave-svg.svg");
        float: right;
    }

    margin-top: 30px;
}

/******************************************     ISLAND 1     ******************************************/
#zen-benefits {
    &::before {
        content: url("images/island1-svg.svg");
        float: left;
    }

    margin-top: 30px;
}

/******************************************     ISLAND 2     ******************************************/
#zen-requirements {
    &::before {
        content: url("images/island2-svg.svg");
        float: right;
    }

    margin-top: 30px;
}

.extra1 {
    background-image: url("images/mobile-bottom.png");
    background-size: 100vw 50px;
    height: 50px;
    width: 100vw;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
}

@media only screen and (min-width: 600px) {
    body {
        background-image: url("images/map-background.png");
        background-repeat: no-repeat;
        background-size: 100vw 100%;
        background-attachment: fixed;
        background-position: 0% 0%;
        padding: 0 5%;
        padding-top: 60px;
    }

    #zen-intro {
        h1 {
            background-image: none;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100vw 100px;
            position: fixed;
            // z-index: 100;
            width: 100vw;
            height: 100px;
            margin: 0;
            top: 0;
            left: 0;
        }
    }

    /******************************************     MOUNTAINS     ******************************************/
    #zen-preamble {

        &::before {
            float: none;
            position: absolute;
            left: 70%;
            top: 200px;
            transform: scale(1);
            transition: transform 1s;
        }

        h3,
        p {
            overflow: hidden;
            width: 500px;
            position: absolute;
            left: 40%;
            background-color: rgba(192, 192, 192, 0.5);
            z-index: 100;
            height: 0;
            opacity: 0;
            transition: opacity 2s;
        }

        h3 {
            top: 200px;
        }

        p:nth-child(2) {
            top: 239px;
        }

        p:nth-child(3) {
            top: 289px;
        }

        p:nth-child(4) {
            top: 357px;
        }

        &:hover {
            &::before {
                // height: 200px;
                // width: 200px;
                transform: scale(1.25);
            }

            h3,
            p {
                height: initial;
                padding: 7px 15px;
                opacity: 1;
            }
        }
    }

    /******************************************       LAKE       ******************************************/
    #zen-explanation {
        &::before {
            float: none;
            position: absolute;
            left: 10%;
            top: 300px;
            transform: scale(1);
            transition: transform 1s;
        }

        h3,
        p {
            overflow: hidden;
            width: 500px;
            position: absolute;
            left: 23.5%;
            margin-top: 50px;
            background-color: rgba(192, 192, 192, 0.5);
            z-index: 100;
            height: 0;
            opacity: 0;
            transition: opacity 2s;
        }

        h3 {
            top: 200px;
        }

        p:nth-child(2) {
            top: 236px;
        }

        p:nth-child(3) {
            top: 340px;
        }

        &:hover {
            &::before {
                // height: 200px;
                // width: 200px;
                transform: scale(1.25);
            }

            h3,
            p {
                height: initial;
                padding: 7px 15px;
                opacity: 1;
            }
        }
    }

    /******************************************       CAVE       ******************************************/
    #zen-participation {
        &::before {
        float: none;
        position: absolute;
        left: 45%;
        top: 450px;
        transform: scale(1);
        transition: transform 1s;
        }
       
        h3,
        p {
            overflow: hidden;
            width: 500px;
            position: absolute;
            margin-top: 158px;
            left: 58%;
            background-color: rgba(192, 192, 192, 0.5);
            z-index: 100;
            height: 0;
            opacity: 0;
            transition: opacity 2s;
        }

        h3 {
            top: 200px;
        }

        p:nth-child(2) {
            top: 236px;
        }

        p:nth-child(3) {
            top: 340px;
        }

        p:nth-child(4) {
            top: 408px;
        }

        &:hover {
            &::before {
                // height: 200px;
                // width: 200px;
                transform: scale(1.25);
            }

            h3,
            p {
                height: initial;
                padding: 7px 15px;
                opacity: 1;
            }
        }
    }

    /******************************************     ISLAND 1     ******************************************/
    #zen-benefits {
        &::before {
            float: none;
            position: absolute;
            left: 20%;
            top: 65%;
            transform: scale(1);
            transition: transform 1s;
        }

        h3,
        p {
            overflow: hidden;
            width: 500px;
            position: absolute;
            left: 34%;
            margin-top: 450px;
            background-color: rgba(192, 192, 192, 0.5);
            z-index: 100;
            height: 0;
            opacity: 0;
            transition: opacity 2s;
        }

        h3 {
            top: 200px;
        }

        p:nth-child(2) {
            top: 236px;
        }

        &:hover {
            &::before {
                // height: 200px;
                // width: 200px;
                transform: scale(1.25);
            }

            h3,
            p {
                height: initial;
                padding: 7px 15px;
                opacity: 1;
            }
        }
    }

    /******************************************     ISLAND 2     ******************************************/
    #zen-requirements {
        &::before {
            float: none;
            position: absolute;
            right: 200px;
            top: 70%;
            transform: scale(1);
            transition: transform 1s;
        }

        h3,
        p {
            overflow: hidden;
            width: 500px;
            position: absolute;
            left: 51%;
            margin-top: 93px;
            background-color: rgba(192, 192, 192, 0.5);
            z-index: 100;
            height: 0;
            opacity: 0;
            transition: opacity 2s;
        }

        h3 {
            top: 200px;
        }

        p:nth-child(2) {
            top: 236px;
        }

        p:nth-child(3) {
            top: 340px;
        }

        p:nth-child(4) {
            top: 498px;
        }

        p:nth-child(5) {
            top: 584px;
        }

        p:nth-child(6) {
            top: 688px;
        }

        &:hover {
            &::before {
                // height: 200px;
                // width: 200px;
                transform: scale(1.25);
            }

            h3,
            p {
                height: initial;
                padding: 7px 15px;
                opacity: 1;
            }
        }
    }

    #design-selection {
        position: absolute;
        bottom: -10px;
        text-decoration: underline;

        nav {
            display: none;
        }
    }

    #design-archives {
        position: absolute;
        bottom: -10px;
        left: 200px;
        text-decoration: underline;

        nav {
            display: none;
        }
    }

    #zen-resources {
        position: absolute;
        bottom: -10px;
        left: 300px;
        text-decoration: underline;

        ul {
            display: none;
        }
    }

    .extra1 {
        display: none;
    }
}

@media only screen and (min-width: 1000px) {

    /******************************************     MOUNTAINS     ******************************************/
    #zen-preamble {
        right: 20%;
        // top: 150px;
    }

    /******************************************       LAKE       ******************************************/
    #zen-explanation {
        left: 10%;
        // top: 300px;
    }

    /******************************************       CAVE       ******************************************/
    #zen-participation {
        // left: 45%;
        top: 45%;
    }

    /******************************************     ISLAND 1     ******************************************/
    #zen-benefits {
        left: 15%;
        // top: 650px;
    }

    /******************************************     ISLAND 2     ******************************************/
    #zen-requirements {
        right: 10%;
        // top: 600px;
    }
}

@media only screen and (min-width: 1500px) {

    /******************************************     MOUNTAINS     ******************************************/
    #zen-preamble {
        background-size: 200px;
    }

    /******************************************       LAKE       ******************************************/
    #zen-explanation {
        background-size: 200px;
    }

    /******************************************       CAVE       ******************************************/
    #zen-participation {
        background-size: 200px;
    }

    /******************************************     ISLAND 1     ******************************************/
    #zen-benefits {
        background-size: 200px;
    }

    /******************************************     ISLAND 2     ******************************************/
    #zen-requirements {
        background-size: 200px;
        top: 60%;
    }
}